Antigravity/
chrome-data/
Kitware/
MongoDB Compass/
Postman/
rssguard5/
aspera/
Code/
CherryStudio/
chromium/
dconf/
discord/
go/
google-chrome/
libreoffice/
mozilla/
nautilus/
neofetch/
spotify/
systemd/
*.key
*.pem
*.crt
*.p12
*.kdbx
*.env
.env.*
.ssh/
.gnupg/
sqlitebrowser/